-e git+https://github.com/OpenDataServices/cove.git@62e5dac094ecb02edb775063b13ef168e026d3ba#egg=cove
-e git+https://github.com/OpenDataServices/flatten-tool.git@61d8404b444f10384363cde1cad542a0d04af004#egg=flattentool
-r requirements_taglifter.txt
gunicorn==19.3.0
