-e git+https://github.com/OpenDataServices/cove.git@7143b59587e077e4b4c79b935b3ee6e7017e5500#egg=cove
-e git+https://github.com/OpenDataServices/flatten-tool.git@61d8404b444f10384363cde1cad542a0d04af004#egg=flattentool
gunicorn==19.3.0
pandas==0.16.2
rdflib==4.2.1
countrycode==0.2

numpy==1.9.3
pyparsing==2.0.3
isodate==0.5.4
python-dateutil==2.4.2

